<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>netType</key>
	<string>开发环境</string>
	<key>domainName</key>
	<string>http://interface5.voole.com</string>
	<key>commPort</key>
	<string>/b2b/</string>
	<key>interface5</key>
	<string>http://10.177.1.236</string>
</dict>
</plist>
